*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos de header */

header{
    background-color: black;
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center; /* Vertical */

}
header img{
    width: 20%;
}

header nav ul{
    display: flex;
    background-color: brown;
    list-style: none;
    gap: 15px;
    padding-right: 20px;
}

/* estilos de main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main .textos{
    text-align: center;
}
main .textos h1 span{
    display: block;
}


main .img {
    display: flex;
    justify-content: center;
}
main .img img{
    width: 50%;
}


main .textos .boton{
    color: white;
    background-color: #2b2b2b;
    display: inline-block;
    margin-top: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* estilo de section */

section{
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

section div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div img{
    width: 30%;
}

/* estilo de footer */
footer{
    text-align: center;
}


